<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
 
   <appender name="consoleAppender"
      class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="INFO" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d
             %-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
 
   <appender name="fileAppender"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="INFO" />
      <param name="File" value="D:\\sample.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d
                %-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
   
   <appender name="WBIProcess"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="INFO" />
      <param name="File" value="D:\\WBIProcessLog.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}-%C{1}-%M-%p-%t-%c - %m%ns" />
      </layout>
   </appender>
 
   <logger name="WBIProcessLog" additivity="false" >
      <level value="INFO" />
      <appender-ref ref="WBIProcess"/>
   </logger>
   
   <!-- root>
      <appender-ref ref="consoleAppender"/>
      <appender-ref ref="fileAppender"/>
   </root -->
 
</log4j:configuration>